@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="text-center">
    <div class="left-panel">
        <img src="~/images/path-to-your-image.jpg" alt="Log ind" />
        <h2>Log ind for at se dine baner</h2>
    </div>
    <div class="right-panel">
        <img src="~/images/path-to-your-image.jpg" alt="Byg din egen bane" />
        <h2>Byg din egen bane</h2>
    </div>
</div>
